Repository kiegroup/kie-docs, pull requests merged in 2020-10, with the labels that each got.

#2873 BXMSDOC-6539 status badge on root README document
  README.md
Labels: under review

#2876 KOGITO-3291: Implement security at Quarkus level for Management Console
  assemblies/assembly-kogito-configuring/main.adoc
  assemblies/assembly-kogito-developing-process-services/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-management-console-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-data-index-service-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-jobs-service-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-trusty-service-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.16.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2898 BXMSDOC-6633: Update trusty service examples.
  doc-content/kogito-docs/src/main/asciidoc/configuration/con-trusty-service.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/ref-kogito-app-examples.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/proc-audit-console-usage.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.16.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2895 Removing headers with reference to dev preview
  README.md
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/index.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.10.0/ref-kogito-rn-known-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.9.0/ref-kogito-rn-known-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ref-kogito-rn-key-features.adoc
Labels: kogito, under review

#2875 [KOGITO-2851] release notes for engine modularization
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes-chapter.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.45.0.Final/ReleaseNotesDrools.7.45.0.Final-section.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.45.0.Final/drools-modularization.adoc
Labels: under review

#2910 BXMSDOC-6605: Finish 0.16 RN
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.16.0/ref-kogito-rn-known-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.16.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2912 BXMSDOC-6605b: Prep Kogito content for 0.17
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.17.0/ref-kogito-rn-fixed-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.17.0/ref-kogito-rn-known-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.17.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2922 KOGITO-3578 node trigger docs
  _images/kogito/bpmn/kogito-management-console-node-trigger-panel.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-management-console-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.17.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2924 BXMSDOC-3139: docs about job reschedule
  _images/kogito/bpmn/kogito-management-console-jobs-panel-reschedule.png
  _images/kogito/bpmn/kogito-management-console-jobs-reschedule.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-management-console-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.17.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2911 [KOGITO-3039] - Agnostic infrastructure layer configuration on Operator
  _images/kogito/openshift/kogito-ocp-infra-kafka.png
  _images/kogito/openshift/kogito-ocp-infra.png
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-architecture.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-data-index-service.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-explainability-service.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-infinispan.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-jobs-service.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-kafka.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-trusty-service.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-deploying-on-kubernetes.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-create-ocp-project.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-create-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-deploy-binary.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-enable-data-index.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-enable-messaging.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-enable-persistence.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-interacting.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/ref-kogito-cli-operations.adoc
Labels: kogito

#2923 [DROOLS-5658] updated option for ANC
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.45.0.Final/drools-modularization.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.9.0.Final-section.adoc
Labels: under review

#2955 BXMSDOC-6606: Finalize Kogito 0.17 RN
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.17.0/ref-kogito-rn-fixed-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.17.0/ref-kogito-rn-known-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.17.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2941 [KOGITO-2562] Documention for Knative Eventing integration with Kogit…
  assemblies/assembly-kogito-deploying-on-openshift/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/con-knative-eventing.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-knative-eventing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-deploying-on-openshift.adoc
Labels: kogito

#2952 KOGITO-3118 Infinispan 11 upgrade
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-data-index-service-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-infinispan-persistence-enabling.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/1.0.0/ref-kogito-rn-fixed-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/1.0.0/ref-kogito-rn-known-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/1.0.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2966 [KOGITO-3094] - Provide data-index-infinispan/mongodb as independent …
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-data-index-service.adoc
Labels: do not merge, kogito, under review

#2978 BXMSDOC-6778 DMN runtime listener property detailing configuration
  doc-content/drools-docs/src/main/asciidoc/DMN/dmn-execution-embedded-proc.adoc
  doc-content/drools-docs/src/main/asciidoc/DMN/dmn-properties-ref.adoc
Labels: under review
