Repository kiegroup/kie-docs, pull requests merged in 2020-11, with the labels that each got.

#3008 [KOGITO-816] - Operator provisioning for Task Console
  _images/kogito/openshift/kogito-ocp-create-app-listed-agency.png
  _images/kogito/openshift/kogito-task-console-instance.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: kogito, under review

#3036 BXMSDOC-6799: Update OCP web console screenshots throughout.
  _images/kogito/dmn/kogito-audit-console-instance.png
  _images/kogito/dmn/kogito-trusty-explainability-instances.png
  _images/kogito/openshift/kogito-management-console-instance.png
  _images/kogito/openshift/kogito-ocp-create-app-listed-agency.png
  _images/kogito/openshift/kogito-ocp-create-build-listed.png
  _images/kogito/openshift/kogito-ocp-create-build.png
  _images/kogito/openshift/kogito-ocp-create-runtime-listed.png
  _images/kogito/openshift/kogito-ocp-create-runtime.png
  _images/kogito/openshift/kogito-ocp-data-index.png
  _images/kogito/openshift/kogito-ocp-infra-kafka.png
  _images/kogito/openshift/kogito-ocp-infra.png
  _images/kogito/openshift/kogito-task-console-instance.png
  doc-content/kogito-docs/src/main/asciidoc/dmn/chap-kogito-using-dmn-models.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: kogito

#3013 KOGITO-3753 CloudEvents -- Update Documentation
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
Labels: kogito

#3047 BXMSDOC-6799b: Fix missing role and resources tags.
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/chap-kogito-using-dmn-models.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/ref-dmn-feel-builtin-functions.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: kogito

#3050 BXMSDOC-6712: DMN endpoints
  _images/kogito/dmn/dmn-model-traffic-violation-multi-output.png
  _images/kogito/dmn/dmn-model-traffic-violation-single-output.png
  _images/kogito/dmn/dmn-model-traffic-violation.png
  doc-content/kogito-docs/pom.xml
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/chap-kogito-using-dmn-models.adoc
Labels: kogito

#3058 [KOGITO-3378] - Upgrade from v1alpha1 to v1beta1 CRD version
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: kogito, under review

#3057 KOGITO-3646,3645 - new features in management console(jobs section,timeline changes,jobs management)
  _images/kogito/bpmn/kogito-management-console-jobs-management-bulk-cancel.png
  _images/kogito/bpmn/kogito-management-console-jobs-management-filter.png
  _images/kogito/bpmn/kogito-management-console-jobs-management.png
  _images/kogito/bpmn/kogito-management-console-jobs-panel-cancel-details.png
  _images/kogito/bpmn/kogito-management-console-jobs-panel-cancel.png
  _images/kogito/bpmn/kogito-management-console-node-active-job-actions.png
  _images/kogito/bpmn/kogito-management-console-node-error-job-actions.png
  _images/kogito/bpmn/kogito-management-console.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3064 [DROOLS-5801] Add docs about alpha node range index
  doc-content/drools-docs/src/main/asciidoc/DecisionEngine/performance-tuning-decision-engine-ref.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.46.0.Final/ReleaseNotesDrools.7.46.0.Final-section.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.46.0.Final/alpha-node-range-index.adoc
Labels: under review

#3069 [DROOLS-5780] descope ecj
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes-chapter.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.47.0.Final/ReleaseNotesDrools.7.47.0.Final-section.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.47.0.Final/drools-ecj.adoc
Labels: under review
