Repository kiegroup/kie-docs, pull requests merged in 2020-08, with the labels that each got.

#2749 upgraded to next development version
  doc-content/kogito-docs/pom.xml
  doc-content/pom.xml
  pom.xml
Labels: kogito

#2746 KOGITO-2207 Release notes for ProcessInstanceReadMode
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.14.0/ref-kogito-rn-fixed-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.14.0/ref-kogito-rn-known-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.14.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2738 Kogito 2707 - add trusty/explainability services docs
  _images/kogito/configuration/trusty-architecture_enterprise.png
  assemblies/assembly-kogito-configuring/main.adoc
  assemblies/assembly-kogito-deploying-on-openshift/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-deploying-on-openshift.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/con-trusty-service.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-explainability-service.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-trusty-service.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/ref-kogito-cli-operations.adoc
Labels: kogito, under review

#2736 BXMSDOC-1331: Domain Exlporer filters docs
  _images/kogito/bpmn/kogito-management-console-domain-explorer-visas-attributes.png
  _images/kogito/bpmn/kogito-management-console-domain-explorer-visas-enter-filter-text.png
  _images/kogito/bpmn/kogito-management-console-domain-explorer-visas-filter-options.png
  _images/kogito/bpmn/kogito-management-console-domain-explorer-visas-filter-results.png
  _images/kogito/bpmn/kogito-management-console-domain-explorer-visas-select-filter-field.png
  _images/kogito/bpmn/kogito-management-console-domain-explorer-visas-select-filter-operator.png
  _images/kogito/bpmn/kogito-management-console-domain-explorer-visas-sorted-data.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-management-console-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.14.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2761 BXMSDOC-6389: Fix kogito-travel-agency paths and links.
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-management-console-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-deployment-options.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-infinispan.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-kafka.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-travel-agency.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-clone-repo.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-create-ocp-project.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-create-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-deploy-binary.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/ref-kogito-cli-operations.adoc
Labels: kogito, under review

#2757 [KOGITO-2310] - Update Kogito documentation per KogitoApp CR changes
  _images/kogito/openshift/kogito-ocp-app-deployment-details-agency.png
  _images/kogito/openshift/kogito-ocp-app-deployment-details.png
  _images/kogito/openshift/kogito-ocp-app-details.png
  _images/kogito/openshift/kogito-ocp-app-route-details.png
  _images/kogito/openshift/kogito-ocp-build-details.png
  _images/kogito/openshift/kogito-ocp-create-app-listed-agency.png
  _images/kogito/openshift/kogito-ocp-create-app-listed.png
  _images/kogito/openshift/kogito-ocp-create-app.png
  _images/kogito/openshift/kogito-ocp-create-build-listed.png
  _images/kogito/openshift/kogito-ocp-create-build.png
  _images/kogito/openshift/kogito-ocp-create-runtime-listed.png
  _images/kogito/openshift/kogito-ocp-create-runtime.png
  _images/kogito/openshift/kogito-ocp-data-index.png
  _images/kogito/openshift/kogito-ocp-infinispan-infra.png
  _images/kogito/openshift/kogito-ocp-infra-kafka.png
  _images/kogito/openshift/kogito-ocp-infra.png
  _images/kogito/openshift/kogito-ocp-kafka-infra.png
  _images/kogito/openshift/kogito-ocp-runtime-details.png
  _images/kogito/openshift/kogito-ocp-service-deployment-details.png
  _images/kogito/openshift/kogito-ocp-service-route-details.png
  _images/kogito/openshift/kogito-ocp-stateful-sets-infinispan.png
  _images/kogito/openshift/kogito-ocp-stateful-sets-kafka.png
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-architecture.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-deployment-options.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-infinispan.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-kafka.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-prometheus.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-deploying-on-ocp-console.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-create-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-deploy-binary.adoc
Labels: kogito, under review

#2748 [BAPL-1259] Add logging for rule performance analysis
  doc-content/drools-docs/src/main/asciidoc/AuthoringAssets/performance-tuning-drl-ref.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes-chapter.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.41.0.Final/ReleaseNotesDrools.7.41.0.Final-section.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.41.0.Final/drools-metric.adoc
  doc-content/shared-kie-docs/src/main/asciidoc/Workbench/ReleaseNotes/ReleaseNotesWorkbench.7.41.0.Final/ReleaseNotesWorkbench.7.41.0.Final-section.adoc
Labels: under review

#2762 Update ref-bpmn-support.adoc
  _images/kogito/bpmn/bpmn-link-catching.png
  _images/kogito/bpmn/bpmn-link-throwing.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/ref-bpmn-intermediate-events.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/ref-bpmn-support.adoc
Labels: kogito, under review

#2775 BXMSDOC-5944, KOGITO-2246: Management Console Security integration (+…
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-management-console-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-data-index-service-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-jobs-service-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.14.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2779 BXMSDOC-6432: Finalize RN for 0.14
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.14.0/ref-kogito-rn-fixed-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.14.0/ref-kogito-rn-known-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.14.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2780 BXMSDOC-6432b: Update 0.15.0 RN template.
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/pom.xml
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-fixed-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-known-issues.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2777 [KOGITO-3068] Show PUT in operations
  _images/kogito/creating-running/kogito-swagger-example-jbpm.png
  _images/kogito/creating-running/kogito-swagger-example.png
  doc-content/kogito-docs/src/main/asciidoc/creating-running/proc-kogito-app-examples-running.adoc
Labels: kogito

#2790 BXMSDOC-6058: Add built-in FEEL content
  assemblies/assembly-kogito-developing-decision-services/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-developing-decision-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/con-dmn-conformance-levels.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/con-dmn-support.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/proc-dmn-model-creating.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/ref-dmn-feel-builtin-functions.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/ref-dmn-feel-data-types.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/ref-dmn-feel-variable-function-names.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-deployment-options.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-kafka.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/ref-kogito-cli-operations.adoc
  doc-content/kogito-docs/src/main/asciidoc/test-scenarios/ref-test-scenarios-supported-feel-data-types.adoc
Labels: kogito

#2785 BXMSDOC-6417: Add flex processes content to Kogito.
  _images/kogito/bpmn/bpmn-ad-hoc-process.png
  _images/kogito/bpmn/bpmn-adhoc-subprocess-autostart.png
  _images/kogito/bpmn/bpmn-flex-process-example-decision-table.png
  _images/kogito/bpmn/bpmn-flex-process-example.png
  assemblies/assembly-kogito-developing-process-services/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/con-bpmn.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/con-flex-processes.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-bpmn-model-creating.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/ref-bpmn-custom-tasks.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/ref-bpmn-subprocesses.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/ref-bpmn-tasks.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/ref-flex-process-example.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/ref-kogito-app-examples.adoc
Labels: kogito

#2791 [KOGITO-3148] - Kogito Operator does not install third party operator…
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-architecture.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-infinispan.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-kafka.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-trusty-service.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-deploying-on-kubernetes.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-create-ocp-project.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-enable-messaging.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc-kogito-travel-agency-enable-persistence.adoc
Labels: kogito
