Repository kiegroup/kie-docs, pull requests merged in 2020-03, with the labels that each got.

#2228 DROOLS-5020 DMN wire Validator to kie-maven-plugin Maven build
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.34.0.Final/ReleaseNotesDrools.7.34.0.Final-section.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.34.0.Final/kie-dmn-validation-in-maven-plugin.adoc
Labels: under review

#2264 BXMSDOC-5385-master-kogito: Draft deploying Kogito on OCP.
  _images/kogito/kogito-ocp-app-build-details.png
  _images/kogito/kogito-ocp-app-deployment-details-agency.png
  _images/kogito/kogito-ocp-app-deployment-details-visas.png
  _images/kogito/kogito-ocp-app-deployment-details.png
  _images/kogito/kogito-ocp-app-details.png
  _images/kogito/kogito-ocp-app-route-details.png
  _images/kogito/kogito-ocp-create-app-listed-agency.png
  _images/kogito/kogito-ocp-create-app-listed.png
  _images/kogito/kogito-ocp-create-app.png
  _images/kogito/kogito-ocp-data-index-deployment.png
  _images/kogito/kogito-ocp-data-index-graphql.png
  _images/kogito/kogito-ocp-data-index-route.png
  _images/kogito/kogito-ocp-data-index.png
  _images/kogito/kogito-ocp-infinispan-infra.png
  _images/kogito/kogito-ocp-infra-kafka.png
  _images/kogito/kogito-ocp-infra.png
  _images/kogito/kogito-ocp-installed-operators.png
  _images/kogito/kogito-ocp-kafka-infra.png
  _images/kogito/kogito-ocp-stateful-sets-infinispan.png
  _images/kogito/kogito-ocp-stateful-sets-kafka.png
  _images/kogito/kogito-ocp-travel-agency-app.png
  _images/kogito/kogito-ocp-visas-app.png
  assemblies/assembly_kogito-deploying-on-openshift/dm/.gitignore
  assemblies/assembly_kogito-deploying-on-openshift/dm/master-docinfo.xml
  assemblies/assembly_kogito-deploying-on-openshift/dm/master.adoc
  assemblies/assembly_kogito-deploying-on-openshift/drools/.gitignore
  assemblies/assembly_kogito-deploying-on-openshift/drools/master-docinfo.xml
  assemblies/assembly_kogito-deploying-on-openshift/drools/master.adoc
  assemblies/assembly_kogito-deploying-on-openshift/jbpm/.gitignore
  assemblies/assembly_kogito-deploying-on-openshift/jbpm/master-docinfo.xml
  assemblies/assembly_kogito-deploying-on-openshift/jbpm/master.adoc
  assemblies/assembly_kogito-deploying-on-openshift/kog/.gitignore
  assemblies/assembly_kogito-deploying-on-openshift/kog/master-docinfo.xml
  assemblies/assembly_kogito-deploying-on-openshift/kog/master.adoc
  assemblies/assembly_kogito-deploying-on-openshift/main.adoc
  assemblies/assembly_kogito-deploying-on-openshift/pam/.gitignore
  assemblies/assembly_kogito-deploying-on-openshift/pam/master-docinfo.xml
  assemblies/assembly_kogito-deploying-on-openshift/pam/master.adoc
  doc-content/kogito-docs/src/main/asciidoc/CreatingRunning-chapter.adoc
  doc-content/kogito-docs/src/main/asciidoc/DeployingOnOCP-chapter.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/con_kogito-automation.adoc
  doc-content/kogito-docs/src/main/asciidoc/index.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con_kogito-on-ocp.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con_kogito-travel-agency.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-deploying-on-ocp-console.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-deploying-on-ocp-kogito-cli.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-clone-repo.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-configure-ocp.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-create-ocp-project.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-create-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-deploy-binary.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-enable-data-index.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-enable-messaging.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-enable-persistence.adoc
  doc-content/pom.xml
Labels: kogito

#2282 BXMSDOC-5389B: Correct kogito doc pom.xml.
  doc-content/kogito-docs/pom.xml
Labels: kogito

#2291 BXMSPROD-592 upstream/downstream in one single file
  Jenkinsfile
Labels: under review

#2309 BXMSDOC-5472-master-kogito: Finalize content for deploying kogito on OCP.
  _images/kogito/openshift/kogito-data-index-graphiql-process-instances.png
  _images/kogito/openshift/kogito-data-index-graphiql-travels.png
  _images/kogito/openshift/kogito-data-index-graphiql-usertask-instances.png
  _images/kogito/openshift/kogito-data-index-graphiql-visaapplications.png
  _images/kogito/openshift/kogito-data-index-graphiql.png
  _images/kogito/openshift/kogito-ocp-app-routes-agency.png
  _images/kogito/openshift/kogito-ocp-data-index-graphql2.png
  _images/kogito/openshift/kogito-ocp-travel-agency-process.png
  _images/kogito/openshift/kogito-ocp-visas-process.png
  _images/kogito/openshift/kogito-travel-agency-new-trip-created.png
  _images/kogito/openshift/kogito-travel-agency-plan-new-trip.png
  _images/kogito/openshift/kogito-travel-agency-task-confirm-travel.png
  _images/kogito/openshift/kogito-travel-agency-task-visaapplication-form.png
  _images/kogito/openshift/kogito-travel-agency-task-visaapplication.png
  _images/kogito/openshift/kogito-travel-agency-travel-complete.png
  _images/kogito/openshift/kogito-travel-agency-visa-approved.png
  _images/kogito/openshift/kogito-visas-application.png
  _images/kogito/openshift/kogito-visas-task-approval.png
  assemblies/assembly_kogito-deploying-on-openshift/dm/.gitignore
  assemblies/assembly_kogito-deploying-on-openshift/dm/master-docinfo.xml
  assemblies/assembly_kogito-deploying-on-openshift/dm/master.adoc
  assemblies/assembly_kogito-deploying-on-openshift/drools/.gitignore
  assemblies/assembly_kogito-deploying-on-openshift/drools/master-docinfo.xml
  assemblies/assembly_kogito-deploying-on-openshift/drools/master.adoc
  assemblies/assembly_kogito-deploying-on-openshift/jbpm/.gitignore
  assemblies/assembly_kogito-deploying-on-openshift/jbpm/master-docinfo.xml
  assemblies/assembly_kogito-deploying-on-openshift/jbpm/master.adoc
  assemblies/assembly_kogito-deploying-on-openshift/main.adoc
  assemblies/assembly_kogito-deploying-on-openshift/pam/.gitignore
  assemblies/assembly_kogito-deploying-on-openshift/pam/master-docinfo.xml
  assemblies/assembly_kogito-deploying-on-openshift/pam/master.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap_kogito-deploying-on-openshift.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/proc_kogito-designing-app.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con_kogito-on-ocp.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/con_kogito-travel-agency.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-deploying-on-ocp-console.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-deploying-on-ocp-kogito-cli.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-clone-repo.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-configure-ocp.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-create-ocp-project.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-create-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-deploy-binary.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-enable-data-index.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-enable-messaging.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-enable-persistence.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/proc_kogito-travel-agency-interacting.adoc
Labels: kogito, under review
