Repository kiegroup/kie-docs, pull requests merged in 2020-09, with the labels that each got.

#2793 [KOGITO-2824] Documentation for Data Index with Mongodb
  assemblies/assembly-kogito-configuring/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-data-index-service-mongodb.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-data-index-service-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2795 BXMSDOC-3101: Docs about new features on process variables
  _images/kogito/bpmn/kogito-management-console-variables-add-attribute.png
  _images/kogito/bpmn/kogito-management-console-variables-save-changes.png
  _images/kogito/bpmn/kogito-management-console-variables-update-attribute.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-management-console-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
Labels: kogito, under review

#2804 [KOGITO-3226] - Create docs for process instance persistence with Mon…
  assemblies/assembly-kogito-configuring/main.adoc
  assemblies/assembly-kogito-developing-process-services/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/con-persistence.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-data-index-service-mongodb.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-data-index-service-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-infinispan-persistence-enabling.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-mongodb-persistence-enabling.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/ref-kogito-glossary.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ref-kogito-rn-key-features.adoc
Labels: kogito, under review

#2792 [KOGITO-2960] - Prometheus integration with kogito-cloud-operator
  doc-content/kogito-docs/src/main/asciidoc/openshift/con-kogito-operator-with-prometheus.adoc
Labels: kogito

#2815 BXMSDOC-6419: Updates and release notes for mgmt console.
  _images/kogito/bpmn/kogito-management-console-jobs-panel-details.png
  _images/kogito/bpmn/kogito-management-console-jobs-panel.png
  _images/kogito/bpmn/kogito-management-console-milestones-panel.png
  _images/kogito/bpmn/kogito-management-console-process-details.png
  _images/kogito/bpmn/kogito-management-console-process-error.png
  _images/kogito/bpmn/kogito-management-console-subprocesses.png
  _images/kogito/bpmn/kogito-management-console.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-management-console-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
Labels: kogito, under review

#2807 BXMSDOC-6418: New content on serverless workflow
  _artifacts/document-attributes.adoc
  _images/kogito/serverless/serverless-workflow-example-implementation.png
  _images/kogito/serverless/serverless-workflow-kogito-orders-structure.png
  _images/kogito/serverless/serverless-workflow-kogito-orders.png
  _images/kogito/serverless/serverless-workflow-kogito.png
  _images/kogito/serverless/serverless-workflow-spec-overview.png
  _images/kogito/serverless/serverless-workflow-states.png
  _images/kogito/serverless/serverless-workflow-usecase-app-payment.png
  _images/kogito/serverless/serverless-workflow-usecase-continuous-integration.png
  _images/kogito/serverless/serverless-workflow-usecase-data-analysis.png
  _images/kogito/serverless/serverless-workflow-usecase-error-notifications.png
  _images/kogito/serverless/serverless-workflow-usecase-vehicle-auction.png
  assemblies/assembly-kogito-orchestrating-serverless/kog/.gitignore
  assemblies/assembly-kogito-orchestrating-serverless/kog/master-docinfo.xml
  assemblies/assembly-kogito-orchestrating-serverless/kog/master.adoc
  assemblies/assembly-kogito-orchestrating-serverless/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-orchestrating-serverless.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/ref-kogito-app-examples.adoc
  doc-content/kogito-docs/src/main/asciidoc/index.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
  doc-content/kogito-docs/src/main/asciidoc/serverless/con-serverless-workflow-definitions.adoc
  doc-content/kogito-docs/src/main/asciidoc/serverless/con-serverless-workflow-in-kogito.adoc
  doc-content/kogito-docs/src/main/asciidoc/serverless/con-serverless-workflow.adoc
  doc-content/kogito-docs/src/main/asciidoc/serverless/proc-serverless-workflow-definitions.adoc
  doc-content/kogito-docs/src/main/asciidoc/serverless/ref-serverless-workflow-use-cases.adoc
Labels: kogito, under review

#2814 KOGITO-2678: Configure Kogito Services to enable/disable security at …
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-data-index-service-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-jobs-service-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2826 BXMSDOC-6415: Add PMML included models for Kogito.
  _images/kogito/dmn/dmn-include-model-list-pmml.png
  _images/kogito/dmn/dmn-include-model-pmml.png
  assemblies/assembly-kogito-developing-decision-services/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-developing-decision-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/con-dmn-conformance-levels.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/con-dmn-included-models.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/con-dmn-support.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/proc-dmn-included-models-dmn.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/proc-dmn-included-models-pmml.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/proc-dmn-logic-defining.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/proc-dmn-model-creating.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
Labels: kogito, under review

#2827 BXMSDOC-6415-master: Update DMN 1.1 and 1.3 wording.
  assemblies/assembly-dmn-models.adoc
  doc-content/drools-docs/src/main/asciidoc/DMN/dmn-conformance-levels-con.adoc
  doc-content/drools-docs/src/main/asciidoc/DMN/dmn-model-creating-proc.adoc
  doc-content/drools-docs/src/main/asciidoc/DMN/dmn-support-con.adoc
Labels: under review

#2832 KOGITO-3312: Trusty Service > OIDC Quarkus Extension is not enabled
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-trusty-service-security.adoc
Labels: kogito

#2803 [KOGITO-3223] - Adding Knative Eventing support to Kogito process ser…
  _images/kogito/bpmn/kogito-knative-deployment-architecture.png
  _images/kogito/bpmn/kogito-knative-impl-listening-event.png
  _images/kogito/bpmn/kogito-knative-impl-producing-event.png
  _images/kogito/bpmn/kogito-knative-set-node-name.png
  assemblies/assembly-kogito-developing-process-services/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/con-knative-eventing.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-knative-eventing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-messaging-enabling.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/proc-trusty-service-security.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
Labels: kogito, under review

#2846 Upstream PR: BXMSDOC-6430-7.39.x to 7.39.x Added prereq links
  doc-content/enterprise-only/openshift/externaldb-build-proc.adoc
Labels: under review

#2845 Upstream PR: BXMSDOC-6430 to Master Added prereq links
  doc-content/enterprise-only/openshift/externaldb-build-proc.adoc
Labels: under review

#2797 KOGITO-2774 Add documentation for trusty UI Audit Investigation Console
  _images/kogito/dmn/kogito-audit-console-execution-detail.png
  _images/kogito/dmn/kogito-audit-console-execution-header.png
  _images/kogito/dmn/kogito-audit-console-execution-status-tooltip.png
  _images/kogito/dmn/kogito-audit-console-executions.png
  _images/kogito/dmn/kogito-audit-console-explanation.png
  _images/kogito/dmn/kogito-audit-console-home.png
  _images/kogito/dmn/kogito-audit-console-influencing-inputs.png
  _images/kogito/dmn/kogito-audit-console-input-data.png
  _images/kogito/dmn/kogito-audit-console-instance.png
  _images/kogito/dmn/kogito-audit-console-model-lookup.png
  _images/kogito/dmn/kogito-audit-console-outcomes-details.png
  _images/kogito/dmn/kogito-audit-console-outcomes-switch.png
  _images/kogito/dmn/kogito-audit-console-overview-toolbar.png
  _images/kogito/dmn/kogito-explainability-instance.png
  _images/kogito/dmn/kogito-trusty-instance.png
  assemblies/assembly-kogito-developing-decision-services/main.adoc
  assemblies/assembly-kogito-developing-process-services/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/con-management-console.adoc
  doc-content/kogito-docs/src/main/asciidoc/bpmn/proc-management-console-using.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-developing-decision-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/con-audit-console.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/proc-audit-console-usage.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
Labels: kogito, under review

#2848 [JBPM-8438] Updating business-central URL in documentation
  doc-content/jbpm-docs/src/main/asciidoc/BPMN2/appe-process-elements.adoc
  doc-content/jbpm-docs/src/main/asciidoc/BusinessApplications/RunApplication-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/BusinessApplications/Tutorials/AppWithCases-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/BusinessApplications/Tutorials/AppWithHanldersAndListeners-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/BusinessApplications/Tutorials/AppWithJPA-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/BusinessApplications/Tutorials/AppWithProcesses-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/BusinessApplications/Tutorials/ElasticSearchBusinessApp-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/BusinessApplications/Tutorials/JMSBusinessApp-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/Installer/10MinWorkbench-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/Installer/Setup-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/TaskService/TaskEscalationsAndNotifications-section.adoc
Labels: under review

#2851 BXMSDOC-6532: Finish 0.15 RN.
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.15.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2852 Added Data objects as per BAPL-1113 in BPMN2 component list
  _images/kogito/bpmn/bpmn-link-catching.png
  _images/kogito/bpmn/bpmn-link-throwing.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/ref-bpmn-support.adoc
Labels: kogito, under review

#2854 BXMSDOC-6416-master-kogito: Add multi-DRD content to Kogito
  _images/kogito/dmn/dmn-bkm-edit.png
  _images/kogito/dmn/dmn-decision-edit.png
  _images/kogito/dmn/dmn-drd-actions-rename.png
  _images/kogito/dmn/dmn-drd-actions.png
  _images/kogito/dmn/dmn-drd-multiple-back-end-details.png
  _images/kogito/dmn/dmn-drd-multiple-back-end.png
  _images/kogito/dmn/dmn-drd-multiple-credit-score-details.png
  _images/kogito/dmn/dmn-drd-multiple-credit-score.png
  _images/kogito/dmn/dmn-drd-multiple-front-end-details.png
  _images/kogito/dmn/dmn-drd-multiple-front-end.png
  _images/kogito/dmn/dmn-drd-multiple.png
  _images/kogito/dmn/dmn-include-model-drd.png
  _images/kogito/dmn/dmn-input-connection-example.png
  assemblies/assembly-kogito-developing-decision-services/main.adoc
  doc-content/kogito-docs/src/main/asciidoc/chap-kogito-developing-decision-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/decision-authoring-general/ref-decision-authoring-assets.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/con-dmn-boxed-expressions.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/proc-dmn-logic-defining.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/proc-dmn-model-creating-multiples.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/ref-dmn-drd-components.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.16.0/ref-kogito-rn-new-features.adoc
Labels: kogito

#2871 [KOGITO-3158] Updating release notes
  doc-content/kogito-docs/src/main/asciidoc/release-notes/0.16.0/ref-kogito-rn-new-features.adoc
Labels: kogito
