Repository kiegroup/kie-docs, pull requests merged in 2020-12, with the labels that each got.

#3082 Fixed product versions for creating projects for a Kogito service sections
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
Labels: kogito, under review

#3072 KOGITO-3869: Docs - Improve Management Console doc
  _images/kogito/bpmn/kogito-management-console-details-panel.png
  _images/kogito/bpmn/kogito-management-console-domain-explorer-visas-filter-options.png
  _images/kogito/bpmn/kogito-management-console-domain-explorer-visas.png
  _images/kogito/bpmn/kogito-management-console-jobs-actions.png
  _images/kogito/bpmn/kogito-management-console-jobs-details.png
  _images/kogito/bpmn/kogito-management-console-jobs-panel-reschedule.png
  _images/kogito/bpmn/kogito-management-console-jobs-reschedule.png
  _images/kogito/bpmn/kogito-management-console-jobs-section-reschedule.png
  _images/kogito/bpmn/kogito-management-console-node-error-job-actions.png
  _images/kogito/bpmn/kogito-management-console-node-error-skip.png
  _images/kogito/bpmn/kogito-management-console-node-error.png
  _images/kogito/bpmn/kogito-management-console-process-details-endpoint.png
  _images/kogito/bpmn/kogito-management-console-process-details.png
  _images/kogito/bpmn/kogito-management-console-process-error.png
  _images/kogito/bpmn/kogito-management-console-process-instance-list-expanded.png
  _images/kogito/bpmn/kogito-management-console-process-instance-section.png
  _images/kogito/bpmn/kogito-management-console-process-timeline-active.png
  _images/kogito/bpmn/kogito-management-console-process-timeline-error.png
  _images/kogito/bpmn/kogito-management-console-process-timeline-jobs.png
  _images/kogito/bpmn/kogito-management-console-process-timeline-panel.png
  _images/kogito/bpmn/kogito-management-console-process-variable-actions.png
  _images/kogito/bpmn/kogito-management-console-process-variable-add.png
  _images/kogito/bpmn/kogito-management-console-process-variable-panel.png
  _images/kogito/bpmn/kogito-management-console-process-variable-save.png
  _images/kogito/bpmn/kogito-management-console-variables-add-attribute.png
  _images/kogito/bpmn/kogito-management-console-variables-save-changes.png
  _images/kogito/bpmn/kogito-management-console-variables-update-attribute.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
Labels: kogito

#3067 [Kogito] KOGITO-3807: [DMN Designer] Convert DMN 1.1/1.3 models to version 1.2 - Documentation
  doc-content/kogito-docs/src/main/asciidoc/dmn/chap-kogito-using-dmn-models.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/enterprise/chap-kogito-release-notes-enterprise.adoc
Labels: kogito

#3065 [KOGITO-1.1.0] KOGITO-3513: Add the Process execution visualization configuration.
  _images/kogito/bpmn/kogito-management-console-process-diagram.png
  _images/kogito/bpmn/kogito-svg-addon-manually-export.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3061 KOGITO-3458: Embedded Editors Milestone 1 Docs
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3071 KOGITO-3558 - Audit ui security paragraph
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/chap-kogito-using-dmn-models.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: do not merge, kogito, under review
