Repository kiegroup/kie-docs, pull requests merged in 2021-01, with the labels that each got.

#3128 [KOGITO-3689] Kogito Operator MongoDB support
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: kogito, under review

#3131 DROOLS-5931 DMN document with further examples decimal() built-in fn
  doc-content/kogito-docs/src/main/asciidoc/dmn/ref-dmn-feel-builtin-functions.adoc
Labels: kogito

#3102 [KOGITO-4046] - Deploying a new Kogito service from files in CLI not …
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: kogito, under review

#3127 Removed early stages of development warning
  README.md
  doc-content/kogito-docs/src/main/asciidoc/index.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/enterprise/chap-kogito-release-notes-enterprise.adoc
Labels: kogito, under review

#3138 KOGITO-3513: Added the process Diagram description
  _images/kogito/bpmn/kogito-management-console-process-diagram-panel.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito, under review

#3157 KOGITO 1.2.0 - Added release note template for 1.2 and updated version attribute
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito, under review

#3136 KOGITO-4144 - Update tracing addon configuration docs
  doc-content/kogito-docs/src/main/asciidoc/dmn/chap-kogito-using-dmn-models.adoc
Labels: kogito

#3141 KOGITO-4147 - Update documentation of Kogito monitoring addon
  _images/kogito/configuration/grafana-domain-dashboard.png
  _images/kogito/configuration/grafana-operational-dashboard.png
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: kogito

#3140 KOGITO-4056: Task Console Custom states support
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
Labels: kogito

#3163 [DROOLS-5914] introduce an option to flag KieBase as immutable and op…
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes-chapter.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.49.0.Final/ReleaseNotesDrools.7.49.0.Final-section.adoc
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.49.0.Final/kiebase-mutability-option.adoc
Labels: under review

#3170 Small typo fix
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3214 BXMSDOC-7115 Swagger UI and OAS URLs revision following code change
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
Labels: kogito
