Repository kiegroup/kie-docs, pull requests merged in 2021-09, with the labels that each got.

#3855 JBPM-9840 unable to stop KIE container via BC UI with error Not suppo…
  _images/ReleaseNotes/start_container.png
  _images/ReleaseNotes/stop_container.png
  doc-content/jbpm-docs/src/main/asciidoc/ReleaseNotes/Release.7.59.0.Final/Release.7.59.0.Final-section.adoc
  doc-content/jbpm-docs/src/main/asciidoc/ReleaseNotes/Release.7.59.0.Final/container-stop.adoc
Labels: under review

#3860 [DROOLS-6584] Expose Drools metrics via Micrometer
  doc-content/drools-docs/src/main/asciidoc/AuthoringAssets/performance-tuning-drl-ref.adoc
Labels: under review

#3851 [KOGITO-3922] Adding error handling to SWF
  doc-content/kogito-docs/src/main/asciidoc/serverless/chap-kogito-orchestrating-serverless.adoc
Labels: under review, kogito

#3863 BXMSDOC-8096: Prepare cumulative release notes for Kogito
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.10.0.Final/ReleaseNotesKogito.1.10.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.11.0.Final/ReleaseNotesKogito.1.11.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3827 BXMSDOC-8068 Kogito: Document alternative workflow for native image building and deployment (Mandrel)
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: kogito

#3848 [KOGITO-5465] Adding process decision integration section
  _images/kogito/bpmn/decisions/license-drl-service-task-data-mapping.png
  _images/kogito/bpmn/decisions/license-validation-dmn-businessrule-data.png
  _images/kogito/bpmn/decisions/license-validation-drl-businessrule.png
  _images/kogito/bpmn/decisions/license-validation-drl-service-task.png
  _images/kogito/bpmn/decisions/license-validation-drl-wih-data-mapping.png
  _images/kogito/bpmn/decisions/license-validation-drl-wih.png
  _images/kogito/bpmn/decisions/process-decisions-embedded-integration.png
  _images/kogito/bpmn/decisions/process-decisions-rest-integration.png
  _images/kogito/bpmn/decisions/process-variables.png
  _images/kogito/bpmn/decisions/traffic-rules-dmn-service-task.png
  _images/kogito/bpmn/decisions/traffic-rules-dmn-wih.png
  _images/kogito/bpmn/decisions/traffic-rules-dmn.png
  _images/kogito/bpmn/decisions/traffic-violation-dmn-businessrule-data.png
  _images/kogito/bpmn/decisions/traffic-violation-dmn-businessrule.png
  _images/kogito/bpmn/decisions/traffic-violation-dmn.png
  _images/kogito/bpmn/decisions/traffic-violation-drl-service-task-data.png
  _images/kogito/bpmn/decisions/traffic-violation-drl-service-task-properties.png
  _images/kogito/bpmn/decisions/traffic-violation-drl-service-task.png
  _images/kogito/bpmn/decisions/traffic-violation-drl-wih-data.png
  _images/kogito/bpmn/decisions/traffic-violation-drl-wih.png
  _images/kogito/bpmn/decisions/violation-dmn-data-types.png
  doc-content/kogito-docs/src/main/asciidoc/.asciidoctorconfig
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.11.0.Final/ReleaseNotesKogito.1.11.0.Final.adoc
Labels: kogito

#3878 KOGITO-5553:Data-index API connection with runtimes
  _images/kogito/configuration/data-index-gateway-api.png
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.11.0.Final/ReleaseNotesKogito.1.11.0.Final.adoc
Labels: kogito

#3886 BXMSDOC-8095: Prepared release notes template and updated attribute for Kogito 1.12
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.12.0.Final/ReleaseNotesKogito.1.12.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3852 [KOGITO-5719] Update Kogito Add-Ons to newly Quarkus Extensions
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: kogito

#3887 1.12 Gateway API content(KOGITO-5553, KOGITO-5855)
  _images/kogito/configuration/data-index-gateway-api.png
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.12.0.Final/ReleaseNotesKogito.1.12.0.Final.adoc
Labels: kogito
