Repository kiegroup/kie-docs, pull requests merged in 2021-08, with the labels that each got.

#3822 Prepared release notes template for Kogito 1.10
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3820 [KOGITO-5424] Update Knative sections to use the new Add-on
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
Labels: kogito, under review

#3831 Revert "[KOGITO-5424] Update Knative sections to use the new Add-on"
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
Labels: kogito

#3835 KOGITO-4724 sql script bundle note
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: under review, kogito

#3833 kafka strimzi api v1beta2
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: under review, kogito

#3841 KOGITO-5708 update release notes and add doc regarding keycloak client config
  _images/kogito/bpmn/kogito-consoles-keycloak-config.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3843 [KOGITO-4336] PostgreSQL persistence support for Data Index
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: under review, kogito

#3844 BXMSDOC-8035: Consolidate, review, and update link in RN for Kogito 1.10
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3830 KOGITO-5569 Upgrade Infinispan
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3834 KOGITO-5675 - Rename Kogito prometheus metrics prefix from kie_ to ko…
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3836 [KOGITO-5424] Update Knative sections to use the new Add-on
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
Labels: do not merge, kogito

#3839 KOGITO-5693 Rename Spring Boot archetype from kogito-springboot-bom t…
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3846 BAPL-1936: Added Metadata Attribute property for different nodes in BPMN
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3813 [KOGITO-5301][KOGITO-5444] Add Spring Boot Starters and Archetype config
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3832 KOGITO-5401 KOGITO-5683 - Remove Kogito Quarkus archetype
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: do not merge, under review, kogito

#3840 [KOGITO-5682] Updating release notes
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3854 BXMSDOC-8098 Link tested integrations to kogito-operator tagged branc…
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
Labels: under review, kogito
