Repository kiegroup/kie-docs, pull requests merged in 2021-06, with the labels that each got.

#3667 Fix Quarkus instruction to runner jar
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
Labels: kogito

#3469 KOGITO-4915: Fix docs after setContent fix for standalone editors
  doc-content/shared-kie-docs/src/main/asciidoc/Install/proc-standalone-editors.adoc
Labels: under review

#3671 KOGITO-4915 - SetContent fix for standalone editors
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
Labels: kogito

#3555 KOGITO-4720: MongoDB persistence support for Jobs Service
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3569 [KOGITO-4882] Removing SmallRye HTTP Connector references from our docs
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
Labels: kogito

#3660 KOGITO-4336 - Data Index PostgreSQL
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3661 KOGITO-4341 - Infinispan 12 upgrade
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3574 KOGITO-5170 - Allow using environment variables to define connection …
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3654 [KOGITO-4611] - Docs for Generic and tradicional JDBC implementation addon
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3716 KOGITO-5387 - Review events publishing properties
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
Labels: kogito

#3712 [KOGITO-5299] - Update to the new addons artifacts id
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/dmn/chap-kogito-using-dmn-models.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito, under review

#3714 [KOGITO-5195] - Docs for optmistic locking for concurrency control in…
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito, under review
