Repository kiegroup/kie-docs, pull requests merged in 2021-04, with the labels that each got.

#3400 [KOGITO-3507] Adding a section to describe how to replace the default…
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3406 KOGITO-4239: [DMN Designer] IntelliSense service - Documentation (release notes)
  doc-content/shared-kie-docs/src/main/asciidoc/Workbench/ReleaseNotes/ReleaseNotesWorkbench.7.52.0.Final/ReleaseNotesWorkbench.7.52.0.Final-section.adoc
  doc-content/shared-kie-docs/src/main/asciidoc/Workbench/ReleaseNotes/ReleaseNotesWorkbench.7.52.0.Final/literal-boxed-expressions-have-better-suggestions-con.adoc
Labels: under review

#3412 KOGITO-4239: Added release note for InteliiSense service
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3421 Removed misleading message on Lambda externalisation
  doc-content/drools-docs/src/main/asciidoc/ReleaseNotes/ReleaseNotesDrools.7.33.0.Final/lambda-externalisation.adoc
Labels: under review

#3425 [DROOLS-6063] drools-decisiontables takes "100%" as String even in Pe…
  doc-content/drools-docs/src/main/asciidoc/AuthoringAssets/decision-tables-rule-set-entries-ref.adoc
Labels: under review

#3456 KOGITO-3903: Expose process SVG via REST endpoint as Springboot addon
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3461 BXMSDOC-7406: Finalized release notes, added release note links and added known and fixed issues got Kogito 1.5
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3464 KOGITO-4557: REST endpoints support for comments and attachments in user task
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito, under review

#3465 BXMSDOC-7407 - Prepared RN template for Kogito 1.6 and updated attributes
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3387 KOGITO-4335 PostgreSQL Addon Docs
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: do not merge, kogito, under review

#3463 KOGITO- 3903 added svg addon for springboot (as part of 1.6 release)
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: do not merge, kogito

#3460 KOGITO-4337: PostgreSQL persistence support for Job Service
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#3473 [KOGITO-4958] Setup Spring Boot/custom probes
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/openshift/chap-kogito-deploying-on-openshift.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito
