Repository kiegroup/kie-docs, pull requests merged in 2022-01, with the labels that each got.

#4075 BXMSDOC-8284: Consolidated release notes for Kogito 1.14
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.14.0.Final/ReleaseNotesKogito.1.14.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#4077 BXMSDOC-8285: Updated RN template and attributes for Kogito 1.15
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.15.0.Final/ReleaseNotesKogito.1.15.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#4041 KOGITO-6310 Upgrade Infinispan to version 13
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.15.0.Final/ReleaseNotesKogito.1.15.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#4042 KOGITO-6196 Data Index PostgreSQL schema changes
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.10.0.Final/ReleaseNotesKogito.1.10.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.15.0.Final/ReleaseNotesKogito.1.15.0.Final.adoc
Labels: do not merge, kogito

#4049 SW updates including reference to Github example and fixed links to e…
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/serverless/chap-kogito-orchestrating-serverless.adoc
Labels: kogito

#4057 Runtime tools dev ui docs
  _images/kogito/bpmn/forms-pages-card-view.png
  _images/kogito/bpmn/forms-pages-table-view.png
  _images/kogito/bpmn/forms-section-kogito-runtime-tools.png
  _images/kogito/bpmn/kogito-runtime-tools-dev-ui-card.png
  _images/kogito/bpmn/kogito-runtime-tools-dev-ui.png
  _images/kogito/bpmn/quarkus-dev-ui.png
  _images/kogito/bpmn/runtime-tools-dev-ui-code-editor-configurations.png
  _images/kogito/bpmn/runtime-tools-dev-ui-code-editor-toolbar.png
  _images/kogito/bpmn/runtime-tools-dev-ui-code-editor.png
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.15.0.Final/ReleaseNotesKogito.1.15.0.Final.adoc
Labels: kogito

#4086 KOGITO-6207 SW Workflow Compensation
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.15.0.Final/ReleaseNotesKogito.1.15.0.Final.adoc
Labels: kogito

#4035 [KOGITO-6311] Documenting grafana dashboard generation disabling properties
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
Labels: kogito

#4074 [KOGITO-6337] Update Knative add-on usage
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
Labels: kogito

#4058 [KOGITO-6380] Document custom dashboards usage
  doc-content/kogito-docs/src/main/asciidoc/configuration/chap-kogito-configuring.adoc
Labels: kogito

#4091 BXMSDOC-8333: Prepared release note template for Kogito 1.15 and updated attribute
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.16.0.Final/ReleaseNotesKogito.1.16.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#4096 KOGITO-6308 - SAGA SW example
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.16.0.Final/ReleaseNotesKogito.1.16.0.Final.adoc
Labels: kogito

#4092 KOGITO-6543 Enhancements in Serverless Workflow documentation
  _artifacts/document-attributes-kogito-comm.adoc
  doc-content/kogito-docs/src/main/asciidoc/creating-running/chap-kogito-creating-running.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.15.0.Final/ReleaseNotesKogito.1.15.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/serverless/chap-kogito-orchestrating-serverless.adoc
Labels: kogito

#4113 KOGITO-6418 Serverless Workflow support for Event Data Filters and Data Merging for Events
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.16.0.Final/ReleaseNotesKogito.1.16.0.Final.adoc
Labels: kogito

#4112 KOGITO-6360 Serverless Workflow Data Merging support for Action Data Filters
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.16.0.Final/ReleaseNotesKogito.1.16.0.Final.adoc
Labels: kogito

#4105 KOGITO-3917 Serverless Workflow support for State data filters
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.16.0.Final/ReleaseNotesKogito.1.16.0.Final.adoc
Labels: kogito

#4115 KOGITO-6595 Document context for Service Tasks
  doc-content/kogito-docs/src/main/asciidoc/bpmn/chap-kogito-developing-process-services.adoc
Labels: under review, kogito

#4119 BXMSDOC-8359: Consolidated release notes for Kogito 1.16
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.16.0.Final/ReleaseNotesKogito.1.16.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito

#4125 BXMSDOC-8360: Prepared template for Kogito 1.17 and updated release version attribute
  _artifacts/document-attributes.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/ReleaseNotesKogito.1.17.0.Final/ReleaseNotesKogito.1.17.0.Final.adoc
  doc-content/kogito-docs/src/main/asciidoc/release-notes/chap-kogito-release-notes.adoc
Labels: kogito
